body {
background: #482046;
font-family: Comic Sans MS, Helvetica, sans-serif;
}
h1 {
color: #4b3f4a;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #8c4988;
}
.assign img {
width: 200px;
padding: 10px;
}
